### üêºPandas

–ù–∞—á–Ω–µ–º –ø–æ–≥—Ä—É–∂–µ–Ω–∏–µ –≤ data science —Å –∫–ª–∞—Å—Å–∏–∫–∏. –í –¥–∞–Ω–Ω–æ–π —á–∞—Å—Ç–∏ –¥–æ–º–∞—à–Ω–µ–π —Ä–∞–±–æ—Ç—ã –≤—ã –±—É–¥–µ—Ç–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –æ –ø–∞—Å—Å–∞–∂–∏—Ä–∞—Ö –¢–∏—Ç–∞–Ω–∏–∫–∞.

https://www.kaggle.com/c/titanic/data

–í–∞–º —Ç—Ä–µ–±—É–µ—Ç—Å—è —Å–∫–∞—á–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –∏ –≤—ã–ø–æ–ª–Ω–∏—Ç—å –∑–∞–¥–∞–Ω–∏—è.

In [194]:
import pandas as pd

‚úÖ 1. –û—Ç–∫—Ä–æ–π—Ç–µ –≤ –Ω–æ—É—Ç–±—É–∫–µ —Ñ–∞–π–ª —Å –¥–∞–Ω–Ω—ã–º–∏ ("train.csv") –∏ –≤—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ –∏ –ø–æ—Å–ª–µ–¥–Ω–∏–µ 5 —Å—Ç—Ä–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞

In [195]:
data = pd.read_csv("train.csv")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

‚úÖ 2. –ö–∞–∫–æ–π —Ä–∞–∑–º–µ—Ä –∏–º–µ–µ—Ç –¥–∞—Ç–∞—Ñ—Ä–µ–π–º?

In [196]:
data.shape

(891, 12)

‚úÖ 3. –î–ª—è –∫–∞–∂–¥–æ–≥–æ –∏–∑ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ —É–∫–∞–∂–∏—Ç–µ –µ–≥–æ —Ç–∏–ø (–≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π, –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π, –ø–æ—Ä—è–¥–∫–æ–≤—ã–π, –¥—Ä—É–≥–æ–µ). –ü—Ä–∏–¥—É–º–∞–π—Ç–µ —Ç—Ä–∏ –∑–∞–¥–∞—á–∏, –∫–æ—Ç–æ—Ä—ã–µ –º–æ–∂–Ω–æ –±—ã–ª–æ –±—ã —Ä–µ—à–∞—Ç—å –¥–ª—è –¥–∞–Ω–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ ‚Äî –∑–∞–¥–∞—á—É —Ä–µ–≥—Ä–µ—Å—Å–∏–∏, –∑–∞–¥–∞—á—É –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –∏ –∑–∞–¥–∞—á—É –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü–∏–∏.

In [197]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

1. –ó–∞–¥–∞—á–∞ —Ä–µ–≥—Ä–µ—Å—Å–∏–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –≤–æ–∑—Ä–∞—Å—Ç–∞ –æ—Ç –≤—ã–∂–∏–≤–∞–µ–º–æ—Å—Ç–∏. Age - Survival
2. –ó–∞–¥–∞—á–∞ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –Ω–∞ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —Ç–æ–≥–æ, –±–∏–ª–µ—Ç –∫–∞–∫–æ–≥–æ –∫–ª–∞—Å—Å–∞ –º—ã —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞–µ–º
3. –ó–∞–¥–∞—á–∞ –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∞—Ü–∏–∏ —Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ –Ω–∞ –≥—Ä—É–ø–ø—ã, —Å–æ—Å—Ç–æ—è—â–∏–µ –∏–∑ –∏–º—ë–Ω –∏ —Å—Ç–∞—Ç—É—Å–∞ —Å–º–µ—Ä—Ç–∏

‚úÖ 4. –ö–∞–∫–æ–≤–∞ –¥–æ–ª—è –≤—ã–∂–∏–≤—à–∏—Ö –ø–æ—Å–ª–µ –∫—Ä—É—à–µ–Ω–∏—è:
    - –≤—Å–µ—Ö –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤
    - –º—É–∂—á–∏–Ω
    - –∂–µ–Ω—â–∏–Ω?

–í—Å–µ–≥–æ

In [198]:
_all = data[data['Survived'] == 1]

ans1 = len(_all)/len(data)
round(ans1, 2)

0.38

–ú—É–∂—á–∏–Ω

In [199]:
male = data[['Sex', 'Survived']]
survived_male = male[(male['Sex'] == 'male') & (male['Survived'] == 1)]

ans2 = len(survived_male)/len(data)
round(ans2, 2)

0.12

–ñ–µ–Ω—â–∏–Ω

In [200]:
female = data[['Sex', 'Survived']]
survived_female = female[(female['Sex'] == 'female') & (male['Survived'] == 1)]

ans3 = len(survived_female)/len(data)
round(ans3, 2)

0.26

‚úÖ 5. –°–∫–æ–ª—å–∫–æ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –µ—Ö–∞–ª–æ –≤ –∫–∞–∂–¥–æ–º –∫–ª–∞—Å—Å–µ?

In [201]:
pclass1 = data[data['Pclass'] == 1]
pclass2 = data[data['Pclass'] == 2]
pclass3 = data[data['Pclass'] == 3]

len(pclass1), len(pclass2), len(pclass3)

(216, 184, 491)

‚úÖ 6. –°–∫–æ–ª—å–∫–æ –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–∞—Å—Å–∞–∂–∏—Ä—ã –∑–∞–ø–ª–∞—Ç–∏–ª–∏ –∑–∞ –ø—Ä–æ–µ–∑–¥?

In [202]:
_sum = sum(data['Fare'])
_sum / len(data)

32.204207968574636

‚úÖ 7. –í—Å–µ –ª–∏ –ø—Ä–∏–∑–Ω–∞–∫–∏ –Ω–µ—Å—É—Ç –≤ —Å–µ–±–µ –ø–æ–ª–µ–∑–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é?
    - –ò–∑–±–∞–≤—å—Ç–µ—Å—å –æ—Ç –Ω–µ–Ω—É–∂–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤, –æ–ø–∏—à–∏—Ç–µ –ø–æ—á–µ–º—É –≤—ã —Ä–µ—à–∏–ª–∏ –æ—Ç –Ω–∏—Ö –∏–∑–±–∞–≤–∏—Ç—å—Å—è

–Ø –±—ã –∏–∑–±–∞–≤–∏–ª—Å—è –æ—Ç –Ω–æ–º–µ—Ä–∞ –∫–∞–±–∏–Ω—ã, –≤ –∫–æ—Ç–æ—Ä–æ–π –±—ã–ª –ø–∞—Å—Å–∞–∂–∏—Ä, –æ—Ç –µ–≥–æ –∏–º–µ–Ω–∏ –∏ –Ω–æ–º–µ—Ä–∞ –±–∏–ª–µ—Ç–∞

In [203]:
data_new = data.drop(['Name', 'Ticket', 'Cabin'], axis=1)
data_new.head(5)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

‚úÖ 8. –ï—Å—Ç—å –ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–æ–ø—É—Å–∫–∏? –í –∫–∞–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö: —Å–∫–æ–ª—å–∫–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º –∏–∑ –Ω–∏—Ö?

In [204]:
data_new.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

‚úÖ 9. –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏—Ç–µ –∫–∞–∫–∏–º –∑–Ω–∞—á–µ–Ω–∏–µ–º —Å—Ç–æ–∏—Ç –∑–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –∫–∞–∂–¥–æ–º —Å—Ç–æ–ª–±—Ü–µ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –µ–≥–æ —Ç–∏–ø–∞. –ó–∞–ø–æ–ª–Ω–∏—Ç–µ –ø—Ä–æ–ø—É—Å–∫–∏ –∏ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —á—Ç–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –±–æ–ª—å—à–µ –Ω–µ—Ç.

–í–æ–∑—Ä–∞—Å—Ç —è –±—ã –∑–∞–ø–æ–ª–Ω–∏–ª —Å—Ä–µ–¥–Ω–∏–º –≤–æ–∑—Ä–∞—Å—Ç–æ–º –ø–æ –≤—Å–µ–º –ø–∞—Å—Å–∞–∂–∏—Ä–∞–º, –∞ –ø–æ—Ä—Ç - —Å–∞–º—ã–º —á–∞—Å—Ç–æ–≤—Å—Ç—Ä–µ—á–∞—é—â–∏–º—Å—è –ø–æ—Ä—Ç–æ–º

In [206]:
avg = data['Age'].mean() #—Å—Ä–µ–¥–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç
most_freq = data['Embarked'].mode()[0] #—Å–∞–º—ã–π —á–∞—Å—Ç–æ–≤—Å—Ç—Ä–µ—á–∞—é—â–∏–π—Å—è –ø–æ—Ä—Ç

data_new['Age'].fillna(avg, inplace=True)
data_new['Age'] = data_new['Age'].astype(int)

data_new['Embarked'].fillna(most_freq, inplace=True)

data_new

C:\Users\pzns1\AppData\Local\Temp\ipykernel_8932\2001254597.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_new['Age'].fillna(avg, inplace=True)
C:\Users\pzns1\AppData\Local\Temp\ipykernel_8932\2001254597.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_new['Embarked'].fillna(most_freq, inplace=True)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22,1,0,7.2500,S
1,2,1,1,female,38,1,0,71.2833,C
2,3,1,3,female,26,0,0,7.9250,S
3,4,1,1,female,35,1,0,53.1000,S
4,5,0,3,male,35,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27,0,0,13.0000,S
887,888,1,1,female,19,0,0,30.0000,S
888,889,0,3,female,29,1,2,23.4500,S
889,890,1,1,male,26,0,0,30.0000,C
890,891,0,3,male,32,0,0,7.7500,Q

In [207]:
data_new.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

‚úÖ 10. –ü—Ä–∞–≤–¥–∞ –ª–∏, —á—Ç–æ —á–∞—â–µ –≤—ã–∂–∏–≤–∞–ª–∏ –ø–∞—Å—Å–∞–∂–∏—Ä—ã —Å –±–æ–ª–µ–µ –¥–æ—Ä–æ–≥–∏–º–∏ –±–∏–ª–µ—Ç–∞–º–∏?

In [174]:
pclass1_survivor = data_new[(data_new['Pclass'] == 1) & (data_new['Survived'] == 1)]
pclass2_survivor = data_new[(data_new['Pclass'] == 2) & (data_new['Survived'] == 1)]
pclass3_survivor = data_new[(data_new['Pclass'] == 3) & (data_new['Survived'] == 1)]

len(pclass1_survivor), len(pclass2_survivor), len(pclass3_survivor)

(136, 87, 119)

–î–∞, –ø—Ä–∞–≤–¥–∞

‚úÖ 11. –°–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ (feature engineering) —è–≤–ª—è–µ—Ç—Å—è –æ–¥–Ω–∏–º –∏–∑ –æ—Å–Ω–æ–≤–Ω—ã—Ö —Å—Ä–µ–¥—Å—Ç–≤ —É–ª—É—á—à–µ–Ω–∏—è –∫–∞—á–µ—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç—ã –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤ –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è –Ω–∞ —ç—Ç–∞–ø–µ –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö. 
 - –î–æ–±–∞–≤—å—Ç–µ –≤ —Ç–∞–±–ª–∏—Ü—É —Å—Ç–æ–ª–±–µ—Ü, –∫–æ—Ç–æ—Ä—ã–π –±—É–¥–µ—Ç –ø–æ–∫–∞–∑—ã–≤–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ —Ä–æ–¥–Ω—ã—Ö –ø–ª—ã–ª–æ –≤–º–µ—Å—Ç–µ —Å –ø–∞—Å—Å–∞–∂–∏—Ä–æ–º –Ω–∞ –∫–æ—Ä–∞–±–ª–µ, –≤–∫–ª—é—á–∞—è –µ–≥–æ —Å–∞–º–æ–≥–æ.
 - –ü—Ä–∏–¥—É–º–∞–π—Ç–µ —Å–≤–æ–π –ø—Ä–∏–∑–Ω–∞–∫, –∫–æ—Ç–æ—Ä—ã–π –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–µ–∑–µ–Ω, –∏ –¥–æ–±–∞–≤—å—Ç–µ –µ–≥–æ –≤ —Ç–∞–±–ª–∏—Ü—É.

'family' - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —á–ª–µ–Ω–æ–≤ —Å–µ–º—å–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–ª—ã–ª–∏ —Å –ø–∞—Å—Å–∞–∂–∏—Ä–æ–º, –≤–∫–ª—é—á–∞—è –µ–≥–æ

'family-greater2' - –±—ã–ª–æ –ª–∏ —É —á–µ–ª–æ–≤–µ–∫–∞ –±–æ–ª–µ–µ 2 —á–ª–µ–Ω–æ–≤ —Å–µ–º—å–∏

In [211]:
data_new['family'] = data_new['SibSp'] + data_new['Parch'] + 1
data_new['family-greater3'] = data_new['family'] > 2

data_new

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,family,family-greater3
0,1,0,3,male,22,1,0,7.2500,S,2,False
1,2,1,1,female,38,1,0,71.2833,C,2,False
2,3,1,3,female,26,0,0,7.9250,S,1,False
3,4,1,1,female,35,1,0,53.1000,S,2,False
4,5,0,3,male,35,0,0,8.0500,S,1,False
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27,0,0,13.0000,S,1,False
887,888,1,1,female,19,0,0,30.0000,S,1,False
888,889,0,3,female,29,1,2,23.4500,S,4,True
889,890,1,1,male,26,0,0,30.0000,C,1,False
890,891,0,3,male,32,0,0,7.7500,Q,1,False

‚úÖ 12. –ï—Å—Ç—å –ª–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –ø—Ä–æ–ø—É—Å–∫–∏? –í –∫–∞–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–∞—Ö: —Å–∫–æ–ª—å–∫–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–º –∏–∑ –Ω–∏—Ö?

In [212]:
data_new.isna().sum()

PassengerId        0
Survived           0
Pclass             0
Sex                0
Age                0
SibSp              0
Parch              0
Fare               0
Embarked           0
family             0
family-greater3    0
dtype: int64

–ù–µ—Ç, –ø—Ä–æ–ø—É—Å–∫–æ–≤ –Ω–µ—Ç

‚úÖ 13. –ö–∞–∫–∞—è —Ñ–∞–º–∏–ª–∏—è –±—ã–ª–∞ —Å–∞–º–æ–π –ø–æ–ø—É–ª—è—Ä–Ω–æ–π –Ω–∞ –∫–æ—Ä–∞–±–ª–µ?)

In [231]:
from collections import Counter

In [246]:
temp = data['Name'].tolist()

most_freq_surname = []

for i in range(len(temp)):
    most_freq_surname.append(temp[i].split(", ")[0])

counter = Counter(most_freq_surname)
counter.most_common(1)[0][0]

'Andersson'

### üìàNumpy

In [2]:
import numpy as np

‚úÖ 1. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤–æ–∑–≤—Ä–∞—â–∞—é—â—É—é –æ–∫—Ä—É–≥–ª–µ–Ω–Ω—É—é –≤–∑–≤–µ—à–µ–Ω–Ω—É—é —Å—É–º–º—É —á–∏—Å–µ–ª –ø–æ –¥–∞–Ω–Ω—ã–º —á–∏—Å–ª–∞–º –∏ –≤–µ—Å–∞–º –∫ –Ω–∏–º.

In [3]:
def weighted_size_numbers(weights: np.array, marks: np.array) -> int:
    # your code here
    
    return

In [4]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 10, 8, 6])

assert weighted_size_numbers(weights, marks) == 8

In [5]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 0, 8, 6])

assert weighted_size_numbers(weights, marks) == 4

‚úÖ 2. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤—ã–¥–∞—é—â—É—é –∏–Ω–¥–µ–∫—Å—ã ¬´–±–ª–∏–∑–∫–∏—Ö¬ª —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –∑–∞–¥–∞–Ω–Ω—ã—Ö –º–∞—Å—Å–∏–≤–æ–≤, –∞ –∏–º–µ–Ω–Ω–æ —Ç–µ—Ö –ø–∞—Ä —ç–ª–µ–º–µ–Ω—Ç–æ–≤, —á–µ–π –º–æ–¥—É–ª—å —Ä–∞–∑–Ω–∏—Ü—ã –Ω–µ –ø—Ä–µ–≤–æ—Å—Ö–æ–¥–∏—Ç –∑–∞–¥–∞–Ω–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –Ω–∞ –≤—Ö–æ–¥ –ø–æ—Å—Ç—É–ø–∞—é—Ç –º–∞—Å—Å–∏–≤ array([1.5, 0.5, 2, -4.1, -3, 6, -1]), –º–∞—Å—Å–∏–≤ array([1.2, 0.5, 1, -4, 3, 0, -1.2]) –∏ —á–∏—Å–ª–æ 0.5, —Ç–æ –Ω–∞ –≤—ã—Ö–æ–¥–µ –¥–æ–ª–∂–µ–Ω –ø–æ–ª—É—á–∏—Ç—å—Å—è –º–∞—Å—Å–∏–≤ array([0, 1, 3, 6]).

In [6]:
def find_close(array1: np.array, array2: np.array, precision: float) -> np.array:
    # your code here
    return

In [7]:
array1 = np.array([1.5, 0.5, 2, -4.1, -3, 6, -1])
array2 = np.array([1.2, 0.5, 1, -4.0,  3, 0, -1.2])
precision = 0.5
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([0, 1, 3, 6]))

In [8]:
array1 = np.array([3.1415, 2.7182, 1.6180, 6.6261])
array2 = np.array([6.6730, 1.3807, -1,     6.0222])
precision = 1.7
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([1, 3]))

‚úÖ 3. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤—ã—á–∏—Å–ª—è—é—â—É—é –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–µ –≤—Å–µ—Ö –Ω–µ–Ω—É–ª–µ–≤—ã—Ö –¥–∏–∞–≥–æ–Ω–∞–ª—å–Ω—ã—Ö —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –Ω–∞ –¥–∏–∞–≥–æ–Ω–∞–ª–∏ –¥–∞–Ω–Ω–æ–π –∫–≤–∞–¥—Ä–∞—Ç–Ω–æ–π –º–∞—Ç—Ä–∏—Ü—ã. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –Ω–∞ –≤—Ö–æ–¥ –ø–æ—Å—Ç—É–ø–∞–µ—Ç –º–∞—Ç—Ä–∏—Ü–∞
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
6 & 7 & 8\\
\end{pmatrix},
$$
—Ç–æ –æ—Ç–≤–µ—Ç–æ–º –±—É–¥–µ—Ç 32.

–≠–ª–µ–º–µ–Ω—Ç—ã –º–∞—Ç—Ä–∏—Ü—ã —Å—á–∏—Ç–∞—Ç—å —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–º–∏.

In [9]:
def diag_prod(matrix: np.array) -> int:
    # your code here
    return res

In [10]:
matrix = np.array([[0, 1, 2, 3],
                   [4, 5, 6, 7],
                   [8, 9, 10, 11],
                   [12, 13, 14, 15]])

assert diag_prod(matrix) == 750

‚úÖ 4. –î–ª—è —É–ª—É—á—à–µ–Ω–∏—è –∫–∞—á–µ—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç—ã –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤ –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–µ–∑–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å [–Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—é –¥–∞–Ω–Ω—ã—Ö](https://vk.cc/8xmfQk), —á—Ç–æ–±—ã –ø—Ä–∏–≤–µ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–∏ –≤ –≤—ã–±–æ—Ä–∫–µ –∫ –æ–¥–Ω–æ–º—É –º–∞—Å—à—Ç–∞–±—É ‚Äî –∞ –∏–º–µ–Ω–Ω–æ, –∏–∑ –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ –≤—ã—á–µ—Å—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏–π –∏ –ø–æ–¥–µ–ª–∏—Ç—å –Ω–∞ –∏—Ö —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –Ω–æ—Ä–º–∞–ª–∏–∑—É—é—â—É—é –≤—Ö–æ–¥—è—â—É—é –º–∞—Ç—Ä–∏—Ü—É (–ø–æ —Å—Ç–æ–ª–±—Ü–∞–º). –ü–æ–º–Ω–∏—Ç–µ, —á—Ç–æ –≤ –≤–∞—à–µ–º –º–∞—Ç—Ä–∏—Ü–µ –Ω–µ –¥–æ–ª–∂–Ω–æ –ø–æ–ª—É—á–∞—Ç—å—Å—è –ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π nan. 

4* –ü–æ–¥—É–º–∞–π—Ç–µ, –ø–æ—á–µ–º—É –º–æ–≥–ª–∏ –±—ã –≤–æ–∑–Ω–∏–∫–Ω—É—Ç—å –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è?)

In [11]:
def normalize(matrix: np.array) -> np.array:
    # your code here
    return

In [12]:
matrix = np.array([[1, 4, 4200], [0, 10, 5000], [1, 2, 1000]])

assert np.allclose(
    normalize(matrix),
    np.array([[ 0.7071, -0.39223,  0.46291],
              [-1.4142,  1.37281,  0.92582],
              [ 0.7071, -0.98058, -1.38873]])
)

In [13]:
matrix = np.array([[-7, 2, 42], [2, 10, 50], [5, 4, 10]])

assert np.allclose(
    normalize(matrix),
    np.array([[-1.37281, -0.98058,  0.46291],
              [ 0.39223,  1.37281,  0.92582],
              [ 0.98058, -0.39223, -1.38873]])
)

‚úÖ 5. –ù–∞–ø–∏—à–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é, –≤—ã—á–∏—Å–ª—è—é—â—É—é –∫–æ—Å–∏–Ω—É—Å–Ω—É—é –±–ª–∏–∑–æ—Å—Ç—å –¥–≤—É—Ö –≤–µ–∫—Ç–æ—Ä–æ–≤. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –Ω–∞ –≤—Ö–æ–¥ –ø–æ—Å—Ç—É–ø–∞—é—Ç –≤–µ–∫—Ç–æ—Ä–∞ array([-2, 1, 0, -5, 4, 3, -3]) –∏ array([0, 2, -2, 10, 6, 0, 0]), –æ—Ç–≤–µ—Ç–æ–º –±—É–¥–µ—Ç -0.25.

In [14]:
def cosine_similarity(vec1: np.array, vec2: np.array) -> float:
    # your code here
    return

In [15]:
vec1 = np.array([-2, 1,  0, -5, 4, 3, -3])
vec2 = np.array([ 0, 2, -2, 10, 6, 0,  0])

assert np.allclose(cosine_similarity(vec1, vec2), -0.25)

In [16]:
vec1 = np.array([-4, 2,  9, -8, 9, 0, -2])
vec2 = np.array([ 3, 2, -4, -1, 3, 2,  2])

assert np.allclose(cosine_similarity(vec1, vec2), -0.119929)