In [44]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import roc_auc_score

## Read data

In [10]:
df = pd.read_parquet('train.parquet')
df

,id,dates,values,label
0,19114,"[2016-01-01, 2016-02-01, 2016-03-01, 2016-04-0...","[-1.86, 0.79, 1.4, 0.15, 0.0, -1.24, -1.46, 3....",0.0
1,22769,"[2016-05-01, 2016-06-01, 2016-07-01, 2016-08-0...","[-1.04, -3.48, 0.05, -0.13, -0.01, 0.03, 0.27,...",1.0
2,76935,"[2017-03-01, 2017-04-01, 2017-05-01, 2017-06-0...","[0.28, 0.63, 0.06, 0.96, -1.4, -0.3, 1.62, 1.1...",0.0
3,66297,"[2016-01-01, 2016-02-01, 2016-03-01, 2016-04-0...","[-0.33, 0.58, 1.1, -0.56, -0.95, -0.61, -0.7, ...",0.0
4,2191,"[2016-01-01, 2016-02-01, 2016-03-01, 2016-04-0...","[1.31, 0.5, -0.54, 0.95, 0.65, 0.83, -1.55, -0...",0.0
...,...,...,...,...
79995,71474,"[2018-10-01, 2018-11-01, 2018-12-01, 2019-01-0...","[-0.15, -1.13, -0.87, 0.49, 0.87, 1.67, 1.91, ...",0.0
79996,36908,"[2016-07-01, 2016-08-01, 2016-09-01, 2016-10-0...","[-0.35, -1.31, 0.11, 1.46, 1.28, 1.12, 1.78, 1...",1.0
79997,63517,"[2016-03-01, 2016-04-01, 2016-05-01, 2016-06-0...","[-0.78, -2.27, -1.85, -0.67, -1.2, -2.02, 0.12...",0.0
79998,94731,"[2016-02-01, 2016-03-01, 2016-04-01, 2016-05-0...","[-2.29, -2.85, 0.92, -0.83, -1.75, -1.81, -2.2...",0.0
79999,98870,"[2016-01-01, 2016-02-01, 2016-03-01, 2016-04-0...","[0.12, -0.8, 1.62, 0.11, -0.38, -0.86, -0.85, ...",1.0

## EDA

Let's see what dates do we have at all

In [40]:
all_dates = [date for sublist in df['dates'] for date in sublist]
all_dates = pd.unique(all_dates)
all_dates

C:\Users\pzns1\AppData\Local\Temp\ipykernel_6948\917252729.py:2: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  all_dates = pd.unique(all_dates)

array([datetime.date(2016, 1, 1), datetime.date(2016, 2, 1),
       datetime.date(2016, 3, 1), datetime.date(2016, 4, 1),
       datetime.date(2016, 5, 1), datetime.date(2016, 6, 1),
       datetime.date(2016, 7, 1), datetime.date(2016, 8, 1),
       datetime.date(2016, 9, 1), datetime.date(2016, 10, 1),
       datetime.date(2016, 11, 1), datetime.date(2016, 12, 1),
       datetime.date(2017, 1, 1), datetime.date(2017, 2, 1),
       datetime.date(2017, 3, 1), datetime.date(2017, 4, 1),
       datetime.date(2017, 5, 1), datetime.date(2017, 6, 1),
       datetime.date(2017, 7, 1), datetime.date(2017, 8, 1),
       datetime.date(2017, 9, 1), datetime.date(2017, 10, 1),
       datetime.date(2017, 11, 1), datetime.date(2017, 12, 1),
       datetime.date(2018, 1, 1), datetime.date(2018, 2, 1),
       datetime.date(2018, 3, 1), datetime.date(2018, 4, 1),
       datetime.date(2018, 5, 1), datetime.date(2018, 6, 1),
       datetime.date(2018, 7, 1), datetime.date(2018, 8, 1),
       datetime.date(2018, 9, 1), datetime.date(2018, 10, 1),
       datetime.date(2018, 11, 1), datetime.date(2018, 12, 1),
       datetime.date(2019, 1, 1), datetime.date(2019, 2, 1),
       datetime.date(2019, 3, 1), datetime.date(2019, 4, 1),
       datetime.date(2019, 5, 1), datetime.date(2019, 6, 1),
       datetime.date(2019, 7, 1), datetime.date(2019, 8, 1),
       datetime.date(2019, 9, 1), datetime.date(2019, 10, 1),
       datetime.date(2019, 11, 1), datetime.date(2019, 12, 1),
       datetime.date(2020, 1, 1), datetime.date(2020, 2, 1),
       datetime.date(2020, 3, 1), datetime.date(2020, 4, 1),
       datetime.date(2020, 5, 1), datetime.date(2020, 6, 1),
       datetime.date(2020, 7, 1), datetime.date(2020, 8, 1),
       datetime.date(2020, 9, 1), datetime.date(2020, 10, 1),
       datetime.date(2020, 11, 1), datetime.date(2020, 12, 1),
       datetime.date(2021, 1, 1), datetime.date(2021, 2, 1),
       datetime.date(2021, 3, 1), datetime.date(2021, 4, 1),
       datetime.date(2021, 5, 1), datetime.date(2021, 6, 1),
       datetime.date(2021, 7, 1), datetime.date(2021, 8, 1),
       datetime.date(2021, 9, 1), datetime.date(2021, 10, 1),
       datetime.date(2021, 11, 1), datetime.date(2021, 12, 1),
       datetime.date(2022, 1, 1), datetime.date(2022, 2, 1),
       datetime.date(2022, 3, 1), datetime.date(2022, 4, 1),
       datetime.date(2022, 5, 1), datetime.date(2022, 6, 1),
       datetime.date(2022, 7, 1), datetime.date(2022, 8, 1),
       datetime.date(2022, 9, 1), datetime.date(2022, 10, 1),
       datetime.date(2022, 11, 1), datetime.date(2022, 12, 1),
       datetime.date(2023, 1, 1), datetime.date(2023, 2, 1),
       datetime.date(2023, 3, 1), datetime.date(2023, 4, 1),
       datetime.date(2023, 5, 1), datetime.date(2023, 6, 1),
       datetime.date(2023, 7, 1), datetime.date(2023, 8, 1),
       datetime.date(2023, 9, 1), datetime.date(2023, 10, 1),
       datetime.date(2023, 11, 1), datetime.date(2023, 12, 1),
       datetime.date(2024, 1, 1)], dtype=object)

In [41]:
all_dates.size

97

In [76]:
len(df.dates[38])

60

In [73]:
date_features = [f'date_{i}' for i in range(len(df.dates[i]))]
for i in range(len(df.dates[60])):
    df[f'value_{i}'] = df['values'].apply(lambda x, i=i: x[i])

df

IndexError: index 36 is out of bounds for axis 0 with size 36